<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('task.index') }}">
            <i class="bi bi-clipboard2-check me-2"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('task.index') }}">Talepler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('task.taskTypeSettings') }}">Talep Tipleri</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
